ui/vendor/
ui/node_modules/
ui/npm-debug.log

# Laravel 5 & Lumen specific
ui/public/storage
ui/public/hot
ui/storage/*.key
ui/.env.*.php
ui/.env.php
ui/.env
ui/Homestead.yaml
ui/Homestead.json

.vagrant
